#landingpage {
	/*opacity .60*/
	background-color: rgba(0, 0, 0, .60);
}

body {
	background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2017/04/featuredwaterfalls.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}

.fa-icons {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}
